/* Cookie Consent */

#cc-main#cc-main {
    font-size: 1em;
    font-weight: 500;
    line-height: 1.6;
    /** CC Variables **/
    --cc-font-family: 'Manrope', sans-serif;
    --cc-modal-border-radius: .5rem;
    --cc-btn-border-radius: none;
    --cc-modal-transition-duration: 500ms;
    --cc-link-color: var(--dim-a);
    --cc-modal-margin: 1rem;
    --cc-z-index: 9999;
    --cc-bg: var(--dim-b);
    --cc-primary-color: var(--dim-d);
    --cc-secondary-color: var(--dim-d);
    --cc-btn-primary-bg: var(--dim-c);
    --cc-btn-primary-color: var(--dim-d);
    --cc-btn-primary-border-color: var(--cc-btn-primary-bg);
    --cc-btn-primary-hover-bg: var(--flow-c);
    --cc-btn-primary-hover-color: var(--dim-a);
    --cc-btn-primary-hover-border-color: var(--cc-btn-primary-hover-bg);
    --cc-btn-secondary-bg: var(--dim-a);
    --cc-btn-secondary-color: var(--dim-d);
    --cc-btn-secondary-border-color: none;
    --cc-btn-secondary-hover-bg: var(--dim-d);
    --cc-btn-secondary-hover-color: var(--dim-a);
    --cc-btn-secondary-hover-border-color: var(--dim-a);
    --cc-separator-border-color: var(--dim-b);
    --cc-toggle-on-bg: var(--cc-btn-primary-bg);
    --cc-toggle-off-bg: var(--dim-c);
    --cc-toggle-on-knob-bg: var(--dim-d);
    --cc-toggle-off-knob-bg: var(--cc-toggle-on-knob-bg);
    --cc-toggle-enabled-icon-color: var(--cc-bg);
    --cc-toggle-disabled-icon-color: var(--cc-bg);
    --cc-toggle-readonly-bg: var(--dim-d);
    --cc-toggle-readonly-knob-bg: var(--dim-c);
    --cc-toggle-readonly-knob-icon-color: var(--cc-toggle-readonly-bg);
    --cc-section-category-border: var(--cc-cookie-category-block-bg);
    --cc-cookie-category-block-bg: var(--dim-a);
    --cc-cookie-category-block-border: none;
    --cc-cookie-category-block-hover-bg: var(--dim-a);
    --cc-cookie-category-block-hover-border: none;
    --cc-cookie-category-expanded-block-bg: var(--dim-a);
    --cc-cookie-category-expanded-block-hover-bg: none;
    --cc-overlay-bg: var(--dim-a);
    --cc-webkit-scrollbar-bg: var(--cc-section-category-border);
    --cc-webkit-scrollbar-hover-bg: var(--cc-btn-primary-hover-bg);
    --cc-footer-bg: var(--cc-btn-secondary-bg);
    --cc-footer-color: var(--cc-secondary-color);
    --cc-footer-border-color: none;
    --cc-pm-toggle-border-radius: 4em;
}

#cc-main .cm.cm {
    border-radius: unset;
    bottom: 0;
    right: 0;
    margin: 0;
    min-width: calc(100% - var(--scrollbarwidth));
    max-width: calc(100% - var(--scrollbarwidth));
}

#cc-main .cm__texts.cm__texts {
    padding: 2rem 2rem 0rem 2rem;
}

#cc-main .cm__title.cm__title, #cc-main .cm__desc.cm__desc {
    padding: unset;
}

#cc-main .cm__btns.cm__btns {
    border-top: unset;
    padding: 2rem;
}

#cc-main .cm__btn.cm__btn {
    margin-top: 0rem !important;
    padding: 1rem;
}

#cc-main .cm__btn-group.cm__btn-group {
    margin-top: 0.25rem !important;
    grid-template-columns: 1fr 1fr;
    gap: 0.25rem;
}

#cc-main .cm__btn--secondary {
    grid-column: span 2;
}

#cc-main .cm__btn.cm__btn {
    border: none ;
    border-radius: unset;
    cursor: none;
}

#cc-main .pm--box.pm--box {
    top: unset;
    left: unset;
    right: var(--scrollbarwidth);
    bottom: 0;
    transform: translateX(100%) !important;
    max-width: calc(100% - var(--scrollbarwidth));
    width: calc(100% - var(--scrollbarwidth));
    max-height: unset;
    height: 100%;
    margin: unset;
}


.show--preferences #cc-main .cc--anim .pm--box {
    transform: translateX(0%) !important;
}

@media screen and (width <= 640px) {
    #cc-main .cm__btns.cm__btns, #cc-main .cm__desc.cm__desc, #cc-main .cm__links.cm__links, #cc-main .cm__title.cm__title {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }

    #cc-main .cm__texts.cm__texts {
        padding: 2rem 0rem 0rem 0rem;
    }
}

@media screen and (width <= 640px) {
    #cc-main .pm__body.pm__body, #cc-main .pm__footer.pm__footer, #cc-main .pm__header.pm__header {
        padding: 2rem !important;
    }
}

#cc-main .pm.pm {
    border-radius: unset;
}

.pm__btn.pm__btn, .pm__btn--secondary.pm__btn--secondary {
    border: none !important;
}

#cc-main .pm__header.pm__header {
    border: unset;
}

#cc-main .pm__footer.pm__footer {
    justify-content: flex-end;
    border: unset;
}

#cc-main .pm__section--expandable .pm__section-title {
    cursor: none !important;
}

#cc-main .pm__badge, #cc-main a, #cc-main button, #cc-main input {
    cursor: none !important;
}

.show--preferences #cc-main .cc--anim .pm-overlay.pm-overlay {
    opacity: 0.5;
}

#cc-main .pm__section--expandable .pm__section-arrow.pm__section-arrow {
    background: none;
}

@media only screen and (min-width: 768px) {

    #cc-main#cc-main {
        padding: 2rem;
    }

    #cc-main .pm__header.pm__header {
        padding-top: 2rem;
    }

    #cc-main .pm__footer.pm__footer {
        padding-bottom: 2rem;
    }

    .pm__body.pm__body {
        padding: 2rem;
    }

    #cc-main .cm.cm {
        min-width: 50%;
        max-width: 50%;
    }

    #cc-main .pm--box.pm--box {
        max-width: 50%;
        width: 50%;
        max-height: unset;
        height: 100%;
    }
}

@media only screen and (min-width: 1200px) {

    #cc-main .cm.cm {
        min-width: 40%;
        max-width: 40%;
    }

    #cc-main .pm--box.pm--box {
        max-width: 40%;
        width: 40%;
        max-height: unset;
        height: 100%;
    }
}

@media only screen and (min-width: 1400px) {

    #cc-main .cm.cm {
        min-width: 25%;
        max-width: 25%;
    }

    #cc-main .pm--box.pm--box {
        max-width: 25%;
        width: 25%;
        max-height: unset;
        height: 100%;
    }
}